.breadcrumbs {
  margin-top: 6rem;
}

a:hover {
  cursor: pointer;
}

.products {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  min-height: 64vh;
  flex-direction: column;
}

h1 {
  width: 20rem;
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto';
} 

.cart {
  position: absolute;
  top: 14px;
  right: 14px;
}

.cart-button {
  border: none;
  border-style:none;
  box-shadow: none;

}

#card {
  margin: 0 auto;
}