.breadcrumbs {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

a:hover {
  cursor: pointer;
}

.products {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 400;
} 

.category-title {
  margin: auto;
  text-align: center;
}

.cart {
  position: absolute;
  top: 14px;
  right: 14px;
}

.cart-button {
  border: 0;
  box-shadow: 0;
}

#card {
  margin: 0 auto;
  margin-bottom: 2rem;
}

.spinner {
  max-width: 360px;
  text-align: center;
  margin: auto;
  margin-top: 12rem;
}